@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
    
}

/* SIDEBAR */

.sidebar{
    /* background: #F1FFC8;
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;  */
  
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F1FFC8;
    overflow-x: hidden;
    padding-top: 20px;
       
}

.sidebar .logo{
    text-align: center;
    padding: 13px 30px;
    font-size: 30px;
    font-weight: bolder;
}


/* .menu .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  } */

/* MISE EN PAGE : MENU */

.sidebar ul li a{
    display: block;
    padding: 13px 30px;
    /* border-bottom: 1px solid #10558d; */
    color: #1F2021;
    font-size: 16px;
    position: relative;
}

.sidebar ul li a .icon{
    width: 30px;
    display: inline-block;
}

/* CREATING HOVER */
.sidebar ul li a:hover,
.sidebar ul li a.active{
    /* color: #0c7db1; */

    background:#BAFE66;
    /* border-right: 2px solid rgb(5, 68, 104); */
}



/* .wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
} */

.sidebar input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: rgb(255, 0, 0);
    outline: none;
}

#news{
    display:block;    
    width:130vh;
    margin:0 auto 5em auto;
    
}

#news #hastag {
    display: inline-block;
    background: #BAFE66;
    color: #000000;
    padding: 5px 10px;
    border-radius: 50px;
}

#news main article{
    background-color: #fff;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}

#news .search {
    width: 80%;
    left: 90px;
    position: relative;
    /* display: flex; */
    padding: 10px 5px;
  }

#news .search .citySearch input[type=text]{
    background-color: rgb(255, 255, 255);
    border-style: 1px black;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    
  }

#news main form button{
    background-color: black;
    border-style: 1px black;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
  }

#news main form input[type=submit]{
    background-color: rgb(212, 45, 45);
    border-style: none;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 100px;
    font-size: 20px;
  }


  #news main form input[type=hidden]{
    background-color: rgb(212, 45, 45);
    border-style: none;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 100px;
    font-size: 20px;
  }


#wall{
    display:block;    
    width:130vh;
    margin:0 auto 5em auto;
    
}
#wall main{
    /* flex:3; */
    padding-left:1em;
    height: 100vh;
    overflow-y:  scroll;
    margin-left: 120px ;
}
    


/* #wall .post {
    display: inline-block;
    background: #BAFE66;
    color: #000000;
    padding: 5px 10px;
    border-radius: 50px;
} */

#wall main article input[type=submit]{
    background-color: #BAFE66;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bolder;
  }


#wall main article{
    background-color: #fff;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}

#wall aside{
    background-color: #fff;
    /* flex:2; */
    padding:1em;
    border-radius: 1em;    
}
#wall img{
    display: block;
    width:50%;
    margin:auto;
}

#wall #hastag {
    display: inline-block;
    background: #BAFE66;
    color: #000000;
    padding: 5px 10px;
    border-radius: 50px;
}



#news img{
    display: block;
    width:50%;
    margin:auto;
}




#login {
    /* display:block;
    width:100%; */
    position: absolute;
    top: 30%;
    left: 35%; 
    transform: translate (-50%,-50%);
    width: 400px;
    border-radius: 30px;
    background: #F1FFC8;
}

#login h1{
    text-align: center;
    padding: 0 0 20px 0;
}

#login h2{
    text-align: center;
    padding:20px 20px ;
}

#login form{
    padding: 0 40px;
    box-sizing: border-box;
}

#form .txt_field{
    position: relative;
    border-bottom: 2px solid black;
    border-radius: 30px;
}



form dl dt{
    float:left;
    font-weight: bold;
    line-height: 1.5em;
}

form dl dd{
    margin-left:10em;
    line-height: 1.5em;
    margin-bottom: 1em
}

form dl dd .hastag-location{
    background-color: #BAFE66;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bolder;
    width:110px;
}

form dl dd textarea{
    width:40em;
    height: 15em;
}








#wrapper{
    display:block;    
    width:130vh;
    margin:0 auto 5em auto;
    
}

#wrapper #hastag {
    display: inline-block;
    background: #BAFE66;
    color: #000000;
    padding: 5px 10px;
    border-radius: 50px;
}


#wrapper aside{
    background-color: #fff;
    /* flex:2; */
    padding:1em;
    border-radius: 1em;    
}
#wrapper img{
    display: block;
    width:50%;
    margin:auto;
}

#wrapper main{
    /* flex:3; */
    padding-left:1em;
    height: 100vh;
    overflow-y:  scroll;
    margin-left: 120px ;
    
}
#wrapper main article{
    background-color: #fff;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
/* #wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}  */

                                /* #wrapper.admin{flex-direction: row-reverse}
                                #wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
                                #wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
                                #wrapper.admin h2{text-align: center;}
                                #wrapper.admin h3{margin:0;}
                                #wrapper.admin nav{text-align: right;}
                                #wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
                                #wrapper.admin article p{float:left;margin:0;}


                                .parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
                                .parameters dl dd{margin-left:15em;line-height: 1.5em;} */

/* .contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;} */
/* 
form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;} */ 



/* Search_bar */



/* .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: wheat;
    outline: none;

} */




 
 

