@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
    
}

/* SIDEBAR */

.sidebar{
    position: fixed;
    left: 0; 
    width: 220px;
    height: 100%;
    background-color: #F1FFC8;
    /* z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px; */
       
}

.sidebar .logo{
    text-align: center;
    padding: 13px 30px;
    font-size: 30px;
    font-weight: bolder;
}


/* MISE EN PAGE : MENU */

.sidebar ul li a{
    display: block;
    padding: 13px 30px;
    /* border-bottom: 1px solid #10558d; */
    color: #1F2021;
    font-size: 16px;
    /* position: relative; */
}

.sidebar ul li a .icon{
    width: 30px;
    display: inline-block;
}

/* CREATING HOVER */

.sidebar ul li a:hover,
.sidebar ul li a.active{
    /* color: #0c7db1; */

    background:#BAFE66;
    /* border-right: 2px solid rgb(5, 68, 104); */
}



/* .wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
} */

.sidebar input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: rgb(255, 0, 0);
    outline: none;
}

.news{
    display: flex;
    margin-left: 280px;
    padding-top: 38px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
}

.main-title{
    margin-bottom: 30px;
}






#wrapper{
    display:block;    
    width:100vh;
    margin:0 auto 5em auto;
    
}


#wrapper aside{
    background-color: #fff;
    /* flex:2; */
    padding:1em;
    border-radius: 1em;    
}
#wrapper img{
    display: block;
    width:50%;
    margin:auto;
}

#wrapper main{
    /* flex:3; */
    padding-left:1em;
    height: 100vh;
    overflow-y:  scroll;
    margin-left: 120px ;
    
}
#wrapper main article{
    background-color: #fff;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
/* #wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}  */

                                /* #wrapper.admin{flex-direction: row-reverse}
                                #wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
                                #wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
                                #wrapper.admin h2{text-align: center;}
                                #wrapper.admin h3{margin:0;}
                                #wrapper.admin nav{text-align: right;}
                                #wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
                                #wrapper.admin article p{float:left;margin:0;}


                                .parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
                                .parameters dl dd{margin-left:15em;line-height: 1.5em;} */

/* .contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;} */
/* 
form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;} */ 



/* Search_bar */

.search {
    width: 80%;
    left: 70px;
    position: relative;
    display: flex;
    padding: 10px 5px;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #000000;
    border-right: none;
    padding: 10px;
    height: 50px;
    border-radius: 100px 0 0 100px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #000000;
  }
  
  .searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid #000000;
    background: #000000;
    text-align: center;
    color: #fff;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
    font-size: 20px;
  }

#login {
    /* display:block;
    width:100%; */
    position: absolute;
    top: 30%;
    left: 35%; 
    transform: translate (-50%,-50%);
    width: 400px;
    border-radius: 30px;
    background: #F1FFC8;
}

#login h1{
    text-align: center;
    padding: 0 0 20px 0;
}

#login h2{
    text-align: center;
    padding:20px 20px ;
}

#login form{
    padding: 0 40px;
    box-sizing: border-box;
}

#form .txt_field{
    position: relative;
    border-bottom: 2px solid black;
    border-radius: 30px;
}

/* .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: wheat;
    outline: none;

} */




 
 

